/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(50)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M10 15a5 5 0 110-10 5 5 0 010 10z'  stroke-width='0.5' stroke='hsla(130, 26%, 90%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  font-family: "Montserrat", sans-serif;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #b9eeba;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: padding 0.3s ease;
  z-index: 1000;
}

header h1 {
  color: #153316;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Footer Styles */
footer {
  text-align: center;
  width: 100%;
  height: 2.5rem;
  margin-top: auto;
  position: relative;
}

footer p {
  color: #ccc;
}

/* Note Styles */
.note.MuiCard-root {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 90%;
  max-width: 240px;
  margin: 16px auto;
  z-index: 1;
}

/* Form Styles */
form.create-note {
  margin: 30px auto 20px;
  width: 90%;
  max-width: 480px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  z-index: 1;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  z-index: 1;
}

form.create-note button:hover {
  background: #317434;
  z-index: 1;
}

/* Dialog Styles */
.MuiDialog-paper {
  width: 90%;
  max-width: 600px;
}

.MuiDialog-title {
  font-weight: bold;
  font-size: 1.5em;
}

.MuiDialogContent-root {
  padding: 16px;
}

h5 {
  margin-bottom: 8px;
}

/* Button Styles */
button {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.MuiDialogActions-root{
  justify-content: space-evenly !important;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  header .MuiContainer-root {
    justify-content: space-between;
  }
  header h1 {
    font-size: 1.5rem;
    margin-bottom: 5%;
  }

  footer {
    padding: 0.5rem;
  }

  .note.MuiCard-root {
    width: calc(100% - 32px);
    max-width: none;
    margin: 16px;
  }

  form.create-note {
    padding: 8px;
  }

  .MuiDialog-title {
    font-size: 1.3em;
  }

  .MuiDialog-paper {
    width: 95%;
  }

  .MuiDialogActions-root{
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 25px; /* Space between buttons */
  }
  .custom-h1.MuiTypography-root {
    font-size: 2.4rem;
    margin-top: 35%;
  }
}

/* Create Area Styles */
.create-area {
  width: 100%;
  margin-bottom: 1rem;
}

.fab-container {
  position: absolute;
  right: 1px;
  bottom: -1px;
  transform: translateY(50%);
}

.create-note {
  position: relative;
  padding-bottom: 50px;
}

/* Container that holds all the notes */
.note-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

/* For tablets and desktops, arrange notes horizontally */
@media (min-width: 768px) {
  .note-container {
    flex-direction: row;
  }

}

@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: none !important;
  }

}